<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>IW</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>sectorsFeatured</servlet-name>
		<servlet-class>com.nsd.controller.SectorsFeaturedController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sectorsFeatured</servlet-name>
		<url-pattern>/sectorsFeatured</url-pattern>
	</servlet-mapping>
        <servlet>
                <servlet-name>sectorsFeaturedUSP</servlet-name>
                <servlet-class>com.nsd.controller.SectorsFeaturedController</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>sectorsFeaturedUSP</servlet-name>
                <url-pattern>/sectorsFeaturedUSP</url-pattern>
        </servlet-mapping>

	<servlet>
		<servlet-name>freeTrialRegistration</servlet-name>
		<servlet-class>com.nsd.controller.FreeTrialController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>freeTrialRegistration</servlet-name>
		<url-pattern>/freeTrialRegistration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>subscribe</servlet-name>
		<servlet-class>com.nsd.controller.SubscribeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subscribe</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>processCreditCard</servlet-name>
		<servlet-class>com.nsd.controller.CreditCardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>processCreditCard</servlet-name>
		<url-pattern>/processCreditCard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>requestReportAccess</servlet-name>
		<servlet-class>com.nsd.controller.ReportAccessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestReportAccess</servlet-name>
		<url-pattern>/requestReportAccess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>relevantData</servlet-name>
		<servlet-class>com.nsd.controller.RelevantDataController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>relevantData</servlet-name>
		<url-pattern>/relevantData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ratiosProvided</servlet-name>
		<servlet-class>com.nsd.controller.RatioProvidedController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ratiosProvided</servlet-name>
		<url-pattern>/ratiosProvided</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>industryBenchmark</servlet-name>
		<servlet-class>com.nsd.controller.IndustryBenchmarkController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>industryBenchmark</servlet-name>
		<url-pattern>/industryBenchmark</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.nsd.controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>licenseAgreement</servlet-name>
		<servlet-class>com.nsd.controller.LicenseAgreementController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>licenseAgreement</servlet-name>
		<url-pattern>/licenseAgreement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>unsubscribeEmail</servlet-name>
		<servlet-class>com.nsd.controller.EmailUnsubscriptionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>unsubscribeEmail</servlet-name>
		<url-pattern>/unsubscribeEmail</url-pattern>
	</servlet-mapping>
</web-app>
